<app-global-error></app-global-error>

<div class="max-w-2xl container mx-auto pt-5">

  <h1 class="font-bold text-lg text-center">{{title | titlecase}}</h1>

  <input type="text" class="w-full px-3 py-1 rounded border" placeholder="filter" [(ngModel)]="term">

  <p *ngIf="loading" class="text-center w-100 text-lg"> Loading..</p>

  <!-- <app-product *ngFor="let product of products" [product]="product">
  </app-product> -->

  <div *ngIf="products$ | async as products" class="">
    <app-product *ngFor="let product of products | filterProducts:term" [product]="product">
    </app-product>
  </div>

  <app-modal title="Create new Product!">
    <app-create-products></app-create-products>
  </app-modal>

</div>